.setBg(@url, @bgSize: 100%, @bgRepeat: no-repeat) {
    width: unit(image-width(@url)) * 0.1rem;
    height: unit(image-height(@url)) * 0.1rem;
    background-image: url(@url);
    background-size: @bgSize;
    background-repeat: no-repeat;
}
.fsize(@sizeValue) {
    @remValue: @sizeValue/10;
    font-size: ~"@{remValue}rem";
}


html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
body {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    box-sizing: content-box; /* 2 */
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}




* {
    box-sizing: border-box;
}
html {
    background: @white;
    font-size: 10px;
}
body {
	font-family: 'Roboto';
}
.clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
.clear {
    display: block;
    clear: both;
}
.large-visible {
    display: block;
}
.medium-visible {
    display: none;
}
.small-visible {
    display: none;
}
.smallest-visible {
    display: none;
}

.main-wrapper {
    overflow: hidden;
    min-width: 320px;
}
.container {
	max-width: 1216px;
	margin: auto;
}
.section {
	&.why-me {
        //position: relative;
        //z-index: 1;
        padding: 4.5rem 0 1.5rem;
        background: @white;
    }
}
.directions-sections {

}

.section-partyemotion {
    .container {
        position: relative;
    }
}
.first-section {
    position: relative;
    background-image: url(../images/main-bg.jpg);
    background-size: cover;
    background-position: center center;
    iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}

.bg-video {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
#tubular-container {
    position: absolute !important;
}
header {
    position: relative;
    z-index: 3;
    background: fade(@dark, 60%);
}
.main-menu {
    display: inline-block;
    padding: 1rem 0;
    li {
        display: inline-block;
        margin-left: 2.5rem;
        &:first-child {
            margin-left: 0;
        }
        a {
            display: block;
            text-transform: uppercase;
            font-weight: 400;
            color: @menu;
            .fsize(13);
            text-decoration: none;
            transition: all 0.25s ease;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.header-call-request {
    display: inline-block;
    float: right;
    padding: 1.3rem 0;
}
.header-call-request__phone {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: @headerReqPhone;
    margin-top: 0.2rem;
    .fsize(18);
    font-weight: 200;
    strong {
        font-weight: 700;
    }
}
.header-call-request__btn {
    display: inline-block;
    vertical-align: top;
}
.first-screen-content {
    position: relative;
    z-index: 2;
    padding: 4rem 0 16rem;
    text-align: center;
    color: @white;
}
.main-logo {
    margin-bottom: -7rem;
    text-align: center;
}
h1 {
    margin: 0;
    font-weight: 200;
    .fsize(40);
    text-transform: uppercase;
}
h2 {
    margin: 0.5rem 0 4rem;
    .fsize(24);
    font-weight: 400;
    text-transform: uppercase;
}
strong {
    font-weight: 700;
}

.why-me__title {
    margin: 0 0 5rem;
    .fsize(40);
    font-weight: 200;
    text-align: center;
}
.why-me__items {

}
.benefits-wrap {

}
.benefit {
    display: inline-block;
    float: left;
    width: 25%;
    margin: 0 0 5.5rem;
    padding: 9.5rem 3.1% 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 0;
    &.benefit-1 {
        background-image: url(../images/benefit-1.png);
    }
    &.benefit-2 {
        background-image: url(../images/benefit-2.png);
    }
    &.benefit-3 {
        background-position: center 0.3rem;
        background-image: url(../images/benefit-3.png);
    }
    &.benefit-4 {
        background-position: center 0.3rem;
        background-image: url(../images/benefit-4.png);
    }
    &.benefit-5 {
        background-image: url(../images/benefit-5.png);
    }
    &.benefit-6 {
        background-image: url(../images/benefit-6.png);
    }
    &.benefit-7 {
        background-position: center 0.5rem;
        background-image: url(../images/benefit-7.png);
    }
    &.benefit-8 {
        background-image: url(../images/benefit-8.png);
    }
}
.benefit__title {
    margin: 0 0 0.75rem;
    font-weight: 700;
    .fsize(17);
    text-transform: uppercase;
    color: @benefitTitle;
}
.benefit__text {
    margin: 0;
    font-weight: 200;
    .fsize(13);
    color: @benefitText;
}

.directions-sections {

}
.direction-sect {
    padding: 16rem 0 3.9rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    .container-wrap {
        max-width: 1216px;
        margin: auto;
        position: relative;
    }
    .container {
        padding: 4.6rem 4.8rem 3.5rem;
        background: fade(@white, 10%);
        .clearfix;
    }
    &:nth-child(2n) {
        .direction-sect__video {
            float: right;
        }
        .direction-sect__description {
            float: left;
        }
    }
    &:nth-child(2n + 1) {
        .direction-sect__video {
            float: left;
        }
        .direction-sect__description {
            float: right;
        }
    }
    .clearfix;
    h3 {
        display: none;
        margin: 0 0 3rem;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
        .fsize(60);
        font-weight: 200;
    }
    .title {
        position: absolute;
        left: 50%;
        top: 4.8rem;
        transform: translate(-50%, 0);
    }

    &.section-partyemotion {
        position: relative;
        background-image: url(../images/section-partyemotion.jpg);
        h3 {
            color: #feb4d5;
        }
        .title {
            .setBg('../images/title-partyemotion.png');
        }
        .btn-direction-sect {
            color: @partyBtn;
            border-color: @partyBtn;
            text-shadow: 1px 1px 2px @partyBtnTextShadow;
            &:hover {
                color: @partyBtnHover;
                border-color: @partyBtnHover;
            }
        }
        .direction-sect__price-block {
            .price {
                color: @partyPrice;
                text-shadow: 1px 1px 2px @partyPriceShadow;
            }
        }
        .container {
            position: relative;
            z-index: 1;
        }
    }
    &.section-babyemotion {
        position: relative;
        background-image: url(../images/section-babyemotion.jpg);
        h3 {
            color: #d9fbff;
        }
        .title {
            .setBg('../images/title-babyemotion.png');
        }
        .btn-direction-sect {
            color: @babyBtn;
            border-color: @babyBtn;
            text-shadow: 1px 1px 2px @babyBtnTextShadow;
            &:hover {
                color: @babyBtnHover;
                border-color: @babyBtnHover;
            }
        }
        .direction-sect__price-block {
            .price {
                color: @babyPrice;
                text-shadow: 1px 1px 2px @babyPriceShadow;
            }
        }
        .container {
            position: relative;
            z-index: 1;
        }
    }
    &.section-loveemotion {
        position: relative;
        background-image: url(../images/section-loveemotion.jpg);
        h3 {
            color: #f86a96;
        }
        .title {
            .setBg('../images/title-loveemotion.png');
        }
        .btn-direction-sect {
            color: @loveBtn;
            border-color: @loveBtn;
            text-shadow: 1px 1px 2px @loveBtnTextShadow;
            &:hover {
                color: @loveBtnHover;
                border-color: @loveBtnHover;
            }
        }
        .direction-sect__price-block {
            .price {
                color: @lovePrice;
                text-shadow: 1px 1px 2px @lovePriceShadow;
            }
        }
        .container {
            position: relative;
            z-index: 1;
        }
    }
    &.section-foodemotion {
        position: relative;
        background-image: url(../images/section-foodemotion.jpg);
        h3 {
            color: #f7b5da;
        }
        .title {
            .setBg('../images/title-foodemotion.png');
        }
        .btn-direction-sect {
            color: @foodBtn;
            border-color: @foodBtn;
            text-shadow: 1px 1px 2px @foodBtnTextShadow;
            &:hover {
                color: @foodBtnHover;
                border-color: @foodBtnHover;
            }
        }
        .direction-sect__price-block {
            .price {
                color: @foodPrice;
                text-shadow: 1px 1px 2px @lovePriceShadow;
            }
        }
        .container {
            position: relative;
            z-index: 1;
        }
    }
    &.section-sportemotion {
        position: relative;
        background-image: url(../images/section-sportemotion.jpg);
        h3 {
            color: #d7fbff;
        }
        .title {
            .setBg('../images/title-sportemotion.png');
        }
        .btn-direction-sect {
            color: @sportBtn;
            border-color: @sportBtn;
            text-shadow: 1px 1px 2px @sportBtnTextShadow;
            &:hover {
                color: @sportBtnHover;
                border-color: @sportBtnHover;
            }
        }
        .direction-sect__price-block {
            .price {
                color: @sportPrice;
                text-shadow: 1px 1px 2px @sportPriceShadow;
            }
        }
        .container {
            position: relative;
            z-index: 1;
        }
    }
}
.direction-sect__video {
    display: inline-block;
    width: 44.6%;
    iframe {
        width: 100% !important;
    }
}
.direction-sect__price-block {
    padding-top: 0.5rem;
    .clearfix;
    .price {
        display: inline-block;
        .fsize(35);
        font-weight: 200;
        strong {
            .fsize(40);
        }
    }
}
.direction-sect__description {
    display: inline-block;
    width: 52.2%;
    color: @directionSectionText;
    p {
        .fsize(14);
        font-weight: 400;
        &:first-child {
            margin-top: -0.2rem;
        }
    }
}

.contacts-sect {
    padding: 4.5rem 0;
    text-align: center;
    p {
        .fsize(24);
        font-weight: 200;
        margin: 2rem 0 1rem;
    }
}
.contacts-sect__title {
    margin: 0 0 2.5rem;
    text-transform: uppercase;
    color: @black;
    .fsize(28);
    font-weight: 200;
}
.contacts-phone {
    font-weight: 200;
    text-decoration: none;
    color: @black;
    .fsize(32);
}
.contacts-vert-line {
    display: inline-block;
    vertical-align: top;
    margin: 0.3rem 1.5rem 0;
    height: 4rem;
    width: 1px;
    background: @dark;
}
.contacts-email {
    font-weight: 200;
    text-decoration: none;
    color: @black;
    .fsize(32);
}

.how-we-work-sect {
    padding: 4.5rem 0;
    background: @how-we-work-bg;
}

.section-title {
    margin: 0;
    .fsize(40);
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
}




/* begin slider */
.rotateslider-container {
    position: relative;
    width: 66%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #efefef;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(../images/slider-bg.jpg);
        background-size: 92%;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.4;
    }
    .rotateslider-item {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 27rem;
        height: 27rem;
        -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
        -ms-transform: translateY(-50%) translateX(-50%) scale(1);
        transform: translateY(-50%) translateX(-50%) scale(1);
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .rotateslider-item.next {
        left: 80%;
        opacity: 1;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: @slide-overlay;
        }
    }
    .rotateslider-item.prev {
        left: 20%;
        opacity: 1;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: @slide-overlay;
        }
    }
    .rotateslider-item.now {
        width: 35rem;
        height: 35rem;
        z-index: 1;
        opacity: 1;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
        -ms-transform: translateY(-50%) translateX(-50%) scale(1);
        transform: translateY(-50%) translateX(-50%) scale(1);
    }
    .arrow {
        display: inline-block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        margin-top: -25px;
        cursor: pointer;
        text-align: center;
        background-image: url(../images/slider-nav.png);
        background-repeat: no-repeat;
    }
    .arrow.left {
        left: 0;
        background-position: 0 0;
        &:hover{
            background-position: 0 -50px;
        }
        &:active{
            background-position: 0 -100px;
        }
    }
    .arrow.right {
        right: 0;
        background-position: -50px 0;
        &:hover{
            background-position: -50px -50px;
        }
        &:active{
            background-position: -50px -100px;
        }
    }
}
/* end slider */

.how-work__social {
    text-align: center;
    p {
        .fsize(16);
        font-weight: 200;
        strong {
            .fsize(24);
            display: block;
        }
    }
}
.facebook-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../images/facebook.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    transition: transform 0.25s ease;
    &:hover {
        background-position: -50px 0;
        transform: scale(1.2);
    }
}


.we-figures-sect {
    padding: 4.5rem 0;
    .container {
        .clearfix;
    }
}
.we-figures-item {
    display: inline-block;
    float: left;
    width: 25%;
    margin: 4.5rem 0 0;
    padding: 0 2.4%;
    text-align: center;
    .title {
        margin: 0;
        .fsize(17);
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.2;
        span {
            display: block;
            line-height: 1;
            .fsize(60);
        }
        &:after {
            content: '';
            display: block;
            margin: 1rem 0 0.75rem;
            height: 14px;
            background-image: url(../images/wide-arrow.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;

        }
    }
    .descrip {
        margin: 0;
        .fsize(14);
        font-weight: 200;
        color: @benefitText;
    }
}

.say-about-us-sect {
    background: @say-about-us-bg;
    padding: 4.5rem 0;
    text-align: center;
    .subtitle {
        margin: 1.8rem 0 2.8rem;
        .fsize(17);
        font-weight: 200;
        strong {
            text-transform: uppercase;
        }
    }
}

.about-us-video-wrapper {
    margin: 0 0 4.4rem;
    text-align: center;
    iframe {
        max-width: 100%;
        display: inline-block;
    }
}
.reviews-wrapper {
    position: relative;
    .clearfix;
}
.reviews-bg {
    position: absolute;
    left: 50%;
    top: 0.1rem;
    transform: translate(-50%, 0);
    z-index: 0;
    display: block;
    height: 18.4rem;
    width: 118%;
}

.review-block {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 33.33%;
    padding: 0 3%;
    float: left;
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 54%;
        top: -0.4rem;
        transform: translate(-50%, 0);
        width: 28rem;
        height: 27.5rem;
        background-image: url(../images/review-photo-decor.png);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
    }
    &.review-1 {
        .review-text {
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 3px;
                background-image: url(../images/review-line-1.png);
                background-size: 100%;
            }
        }
    }
    &.review-2 {
        .review-text {
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 3px;
                background-image: url(../images/review-line-2.png);
                background-size: 100%;
            }
        }
    }
    &.review-3 {
        .review-text {
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 3px;
                background-image: url(../images/review-line-3.png);
                background-size: 100%;
            }
        }
    }
}
.review-img {
    position: relative;
    display: block;
    box-sizing: content-box;
    margin: auto;
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    border: 1.8rem solid @white;
    border-radius: 50%;

    img {
        width: 100%;
    }
}
.review-name {
    margin: 1.5rem 0 1.8rem;
    text-transform: uppercase;
    .fsize(17);
    font-weight: 700;
}
.review-text {
    position: relative;
    padding: 2.5rem;
    .fsize(14);
    font-weight: 200;
    color: @benefitText;
    background: @white;
    border: 1px solid @review-border;
    &:before {
        content: '';
        position: absolute;
        top: -16px;
        left: 50%;
        transform: translate(-50%, 0);
        display: inline-block;
        width: 46px;
        height: 16px;
        background-image: url(../images/review-arrow.png);
        background-size: 100%;
    }
}

.prefooter-sect {
    text-align: center;
    padding: 4.5rem 0;
    h3 {
        margin: 0 0 1rem;
        text-transform: uppercase;
        .fsize(28);
        font-weight: 200;
    }
    p {
        margin: 0 0 3.5rem;
        .fsize(24);
        font-weight: 200;
    }
}


footer {
    background: @black;
    .fsize(18);
    .container {
        padding: 1.2rem 0;
        .clearfix;
    }
}
.copyright {
    display: inline-block;
    margin: 0;
    color: @copyright;
    font-weight: 200;
}
.footer-contacts {
    display: inline-block;
    float: right;
    color: @white;
    font-weight: 200;
}
.footer-email {
    display: inline-block;
    margin-right: 1rem;
    font-weight: 200;
    text-decoration: none;
    color: @white;
}
.footer-phone {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1.3rem;
    font-weight: 200;
    text-decoration: none;
    color: @white;
}




.scene {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    li {
        list-style: none;
    }
}

.partyemotion-decor-cap {
	position: absolute !important;
    z-index: 0;
    top: -26% !important;
    right: 6% !important;
    left: auto !important;
    .setBg('../images/section-partyemotion__cap.png');
}
.partyemotion-decor-confetti {
	position: absolute !important;
    z-index: 0;
    top: 55% !important;
    left: auto !important;
    right: 22% !important;
    .setBg('../images/section-partyemotion__confetti.png');
}
.partyemotion-decor-1 {
    position: absolute !important;
    z-index: 0;
    top: -45% !important;
    left: -6.2% !important;
    .setBg('../images/section-partyemotion__balloons.png');
}
.partyemotion-decor-2 {
    position: absolute !important;
    z-index: 1;
    left: 73% !important;
    top: -37% !important;
    .setBg('../images/section-partyemotion__decor.png');
}
.partyemotion-decor-3 {
    position: absolute !important;
    z-index: 1;
    top: -17% !important;
    left: 14% !important;
    .setBg('../images/section-partyemotion__decor2.png');
}

.babyemotion-decor {
    position: absolute !important;
    z-index: 1;
    top: -41% !important;
    left: 72% !important;
    .setBg('../images/section-babyemotion__baby.png');
}
.babyemotion-decor-2 {
    position: absolute !important;
    z-index: 1;
    top: -49% !important;
    left: -4% !important;
    .setBg('../images/section-babyemotion__ball.png');
}
.babyemotion-decor-cube {
    position: absolute !important;
    z-index: 1;
    top: 46% !important;
    left: auto !important;
    right: -6% !important;
    .setBg('../images/section-babyemotion__cube.png');
}
.babyemotion-decor-star {
    position: absolute !important;
    z-index: 1;
    top: 41% !important;
    left: 18% !important;
    .setBg('../images/section-babyemotion__star.png');
}

.lovemotion-decor {
    position: absolute !important;
    z-index: 1;
    top: -41%;
    left: 68%;
    .setBg('../images/section-loveemotion__flowers.png');
}
.lovemotion-decor-2 {
    position: absolute !important;
    z-index: 1;
    top: -60%;
    left: -7%;
    .setBg('../images/section-loveemotion__heart.png');
}
.lovemotion-decor-3 {
    position: absolute !important;
    z-index: 1;
    top: 9%;
    right: -10%;
    .setBg('../images/section-loveemotion__hearts.png');
}

.foodemotion-decor {
    position: absolute !important;
    z-index: 1;
    top: -41%;
    right: 3%;
    .setBg('../images/section-foodemotion__cupcake.png');
}
.foodemotion-decor-2 {
    position: absolute !important;
    z-index: 2;
    top: 77%;
    left: -4.8%;
    .setBg('../images/section-foodemotion__decor-1.png');
}
.foodemotion-decor-3 {
    position: absolute !important;
    z-index: 1;
    top: 52%;
    left: 44%;
    .setBg('../images/section-foodemotion__decor-2.png');
}
.foodemotion-decor-4 {
    position: absolute !important;
    z-index: 1;
    top: -0.5%;
    left: 50%;
    .setBg('../images/section-foodemotion__decor-3.png');
}
.foodemotion-decor-5 {
    position: absolute !important;
    z-index: 1;
    top: -29%;
    left: -10%;
    .setBg('../images/section-foodemotion__food.png');
}

.sportemotion-decor {
    position: absolute !important;
    z-index: 1;
    top: -45%;
    left: -13%;
    .setBg('../images/section-sportemotion__ball.png');
}
.sportemotion-decor-2 {
    position: absolute !important;
    z-index: 2;
    top: -2.5%;
    left: 9%;
    .setBg('../images/section-sportemotion__decor-1.png');
}
.sportemotion-decor-3 {
    position: absolute !important;
    z-index: 1;
    top: 39%;
    right: -1.5%;
    .setBg('../images/section-sportemotion__decor-2.png');
}
.sportemotion-decor-4 {
    position: absolute !important;
    z-index: 1;
    top: -3.6%;
    right: 4.5%;
    .setBg('../images/section-sportemotion__decor-3.png');
}
.sportemotion-decor-5 {
    position: absolute !important;
    z-index: 1;
    top: 88%;
    right: 8%;
    .setBg('../images/section-sportemotion__decor-4.png');
}


//@media (max-width: 1600px) {
//    .partyemotion-decor-1 {
//        left: auto;
//        right: 84%;
//    }
//    .partyemotion-decor-3 {
//        left: auto;
//        right: 79%;
//    }
//    .babyemotion-decor {
//        left: 73%;
//    }
//    .babyemotion-decor-2 {
//        left: auto;
//        right: 69%;
//    }
//    .lovemotion-decor-2 {
//        left: auto;
//        right: 70%;
//    }
//    .lovemotion-decor {
//        left: 72%;
//    }
//    .foodemotion-decor {
//        right: auto;
//        left: 80%;
//    }
//    .foodemotion-decor-5 {
//        left: auto;
//        right: 73%;
//    }
//    .sportemotion-decor {
//        left: auto;
//        right: 74%;
//    }
//}
@media (max-width: 1180px) {
    .menu-toggle {
        display: block;
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        z-index: 11;
        span {
            display: block;
            background: @white;
            height: 0.4rem;
            width: 3.5rem;
            margin-top: 0.6rem;
            transition: all 0.5s ease;
            &:first-child {
                margin-top: 0;
            }
        }
        &.active {
            position: fixed;
            span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    margin-bottom: -1rem;
                    margin-top: 1rem;
                }
                &:nth-child(2) {
                    transform: rotate(-45deg);
                }
                &:nth-child(3) {
                    opacity: 0;
                }
            }
        }
    }
    .main-menu {
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background: fade(@black, 75%);
        text-align: center;
        transition: left 0.5s ease;
        &.active {
            left: 0;
        }
        ul {
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        li {
            display: block;
            margin: 0;
            a {
                display: block;
                font-weight: 700;
                .fsize(26);
                color: @white;
                line-height: 2;
                margin: 2rem 0;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .header-call-request {
        margin-right: 2rem;
    }
    .main-logo {
        margin-bottom: 0;
        text-align: center;
        clear: both;
    }
    footer {
        padding: 0 1%;
    }
}
@media (max-width: 1024px) {
    .large-visible {
        display: none;
    }
    .medium-visible {
        display: block;
    }
    .benefit {
        width: 50%;
    }
    .direction-sect__video {
        display: block;
        width: 100%;
        float: none !important;
        margin: 0 0 2rem;
    }
    .direction-sect__description {
        display: block;
        width: 100%;
        float: none !important;
    }
    .direction-sect {
        .container {
            background: none;
        }
    }
    .rotateslider-container {
        width: 90%;
    }
    .partyemotion-decor-1,
    .partyemotion-decor-2,
    .partyemotion-decor-3,
    .babyemotion-decor,
    .babyemotion-decor-2,
    .lovemotion-decor,
    .lovemotion-decor-2,
    .lovemotion-decor-3,
    .lovemotion-decor-4,
    .foodemotion-decor,
    .foodemotion-decor-2,
    .foodemotion-decor-3,
    .foodemotion-decor-4,
    .foodemotion-decor-5,
    .sportemotion-decor,
    .sportemotion-decor-2,
    .sportemotion-decor-3,
    .sportemotion-decor-4,
    .sportemotion-decor-5 {
        display: none;
    }
    .direction-sect {
        padding: 9rem 0 3.9rem;
    }
}
@media (max-width: 768px) {
    .medium-visible {
        display: none;
    }
    .small-visible {
        display: block;
    }
    .we-figures-item {
        width: 50%;
        br {
            display: none;
        }
    }
    .direction-sect {
        padding: 0;
        .container {
            h3 {
                display: block;
            }
        }
        .title {
            display: none;
        }
    }
}
@media (max-width: 640px) {
    .main-menu {
        li {
            a {
                .fsize(20);
                line-height: 1;
            }
        }
    }
    .first-screen-content {
        padding: 0 0 5rem;
    }
    .main-logo {
        display: inline-block;
        vertical-align: top;
        margin-top: -5rem;
        margin-bottom: -5rem;
    }
    .direction-sect {
        .container {
            padding: 2rem;
            h3 {
                .fsize(40);
                margin: 0 0 2rem;
            }
        }
    }
    .direction-sect__price-block {
        .price {
            display: block;
            text-align: center;
        }
    }
    .btn-direction-sect {
        display: block;
        margin: 1.5rem auto auto;
        float: none !important;
    }

    h1 {
        .fsize(34);
    }
    h2 {
        .fsize(20);
    }
    .section.why-me {
        padding: 2rem 0 1.5rem;
    }
    .benefit {
        margin: 0 0 2rem;
        padding: 8rem 3.1% 0;
    }
    .rotateslider-container {
        width: 98%;
        height: 30rem;
    }
    .how-we-work-sect {
        padding: 2rem 0;
    }
    .contacts-sect {
        padding: 2rem 0;
    }
    .we-figures-sect {
        padding: 2rem 0;
    }
    .rotateslider-container .rotateslider-item {
        width: 13rem;
        height: 13rem;
    }
    .rotateslider-container .rotateslider-item.now {
        width: 20rem;
        height: 20rem;
    }
    .we-figures-item {
        width: 100%;
        margin-top: 2rem;
        padding: 0 10%;
        .title {
            span {
                .fsize(30);
            }
        }
    }
    .say-about-us-sect {
        padding: 2rem 0;
    }
    .section-title {
        .fsize(30);
    }
    .reviews-bg {
        display: none;
    }
    .review-block {
        width: 100%;
        display: block;
        float: none;
        margin-bottom: 2rem;
    }
    .prefooter-sect {
        padding: 2rem 0;
    }
    .copyright {
        display: block;
        text-align: center;
    }
    .footer-contacts {
        display: block;
        margin: auto;
        float: none;
        text-align: center;
        line-height: 1.4;
        color: @black;
    }
    .footer-email {
        display: block;
        margin: 1rem auto -1.5rem;
    }
    .footer-phone {
        display: block;
        margin: auto auto 1rem;
    }
    .contacts-vert-line {
        display: none;
    }

}
@media (max-width: 480px) {
    .smallest-visible {
        display: block;
    }
    .small-visible {
        display: none;
    }
    .direction-sect__video iframe {
        height: 210px;
    }
    .about-us-video-wrapper iframe {
        height: 220px;
    }
    .main-logo {
        margin-top: -8rem;
        margin-bottom: -8rem;
        img {
            max-width: 100%;
        }
    }
    .header-call-request__phone {
        display: block;
        margin-right: 0;
        text-align: right;
        margin-bottom: 1rem;
    }
    .header-call-request__btn {
        display: block;
    }
    h1 {
        .fsize(28);
        line-height: 1.2;
    }
    h2 {
        .fsize(20);
        line-height: 1.2;
    }
    .btn.btn-get-price {
        .fsize(16);
    }
    .why-me__title {
        .fsize(24);
        margin-bottom: 2rem;
    }
    .benefit {
        width: 100%;
    }
    .direction-sect {
        h3 {
            .fsize(28) !important;
        }
    }
    .contacts-phone {
        .fsize(24);
    }
    .contacts-email {
        .fsize(24);
    }
    .main-menu li a {
        margin: 1.5rem 0;
    }
    .popup-main {
        padding: 1.7rem 1.7rem;
    }
    .popup-close {
        top: -2.5rem;
        right: -2.2rem;
        width: 2rem;
        height: 2rem;
    }
}
@media (max-width: 420px) {
    .popup-input {
        margin: 0 0 1.5rem;
        width: 23rem;
    }
    .btn.btn-popup {
        .fsize(16);
    }
}
@media (max-width: 360px) {
    .direction-sect__video iframe {
        height: 200px;
    }
}